/**
 * @file
 * Display Suite Hashtag 90_10 Layout stylesheet.
 */

.ds-top {
  /* Styles for the "top" region go here */
  width: 100%;
  float: left;
}

.ds-left {
  /* Styles for the "left" region go here */
  width: 90%;
  float: left;
}

.ds-right {
  /* Styles for the "right" region go here */
  width: 10%;
  float: right;
}

.ds-bottom {
  /* Styles for the "bottom" region go here */
  width: 100%;
  float: left;
}
